<div class="ui container">
  <h1 style="padding-top: 2rem; text-align: center;">Employee Management</h1>
  <div class="ui form">
      <div class="field">
          <label>Username</label>
          <input type="text" [(ngModel)]="username" name="username" autocomplete="off">
      </div>
      <div class="field">
          <label>First Name</label>
          <input type="text" [(ngModel)]="firstName" name="firstName" autocomplete="off">
      </div>
      <div class="field">
          <label>Last Name</label>
          <input type="text" [(ngModel)]="lastName" name="lastName" autocomplete="off">
      </div>
      <div class="field">
          <label>Email</label>
          <input type="email" [(ngModel)]="email" name="email" autocomplete="off">
      </div>
      <div class="field">
          <label>Date of Birth</label>
          <input type="date" [(ngModel)]="birthDate" name="birthDate" autocomplete="off">
      </div>
      <div class="field">
          <label>Basic Salary</label>
          <input type="number" [(ngModel)]="basicSalary" name="basicSalary" autocomplete="off">
      </div>
      <div class="field">
        <label>Status</label>
        <input type="text" [(ngModel)]="status" name="status" autocomplete="off">
      </div>
      <div class="field">
        <label>Group</label>
        <input type="text" [(ngModel)]="group" name="group" autocomplete="off">
      </div>
      <div class="field">
        <label>Description</label>
        <input type="text" [(ngModel)]="description" name="description" autocomplete="off">
      </div>
      <div class="ui inverted primary button" *ngIf="!isEdit" (click)="simpan()">Save</div>
      <div class="ui inverted primary button" *ngIf="isEdit" (click)="edit()">Edit</div>
      <div class="ui inverted secondary button" (click)="reset()">Reset</div>
  </div>
  <table class="ui celled table">
      <thead>
          <tr class="ui center aligned">
              <th>Username</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Date of Birth</th>
              <th>Basic Salary</th>
              <th>Status</th>
              <th>Group</th>
              <th>Description</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody *ngFor="let item of this.myData" class="ui center aligned">
          <tr>
              <td data-label="Username">{{item.username}}</td>
              <td data-label="First Name">{{item.firstName.toLocaleString(['id'])}}</td>
              <td data-label="Last Name">{{item.lastName.toLocaleString(['id'])}}</td>
              <td data-label="Email">{{item.email.toLocaleString(['id'])}}</td>
              <td data-label="Date of Birth">{{item.birthDate.toLocaleString(['id'])}}</td>
              <td data-label="Basic Salary">Rp. {{item.basicSalary.toLocaleString(['id'])}}</td>
              <td data-label="Status">{{item.status.toLocaleString(['id'])}}</td>
              <td data-label="Group">{{item.group.toLocaleString(['id'])}}</td>
              <td data-label="Description">{{item.description.toLocaleString(['id'])}}</td>

              <td data-label="Aksi">
                  <div class="ui buttons">
                      <button class="ui positive button" (click)="getEdit(item)">Edit</button>
                      <div class="or" data-text="/"></div>
                      <button class="ui button" (click)="delete(item)">Delete</button>
                  </div>
              </td>
          </tr>
      </tbody>
  </table>
</div>